div.App-footer {
    background-color: black;
    height: 4rem;
    z-index: 2;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Social {
    display: flex;
    flex-direction: row;

}

.Social li {
    float: left;
    list-style: none;
    padding: 20px;
}